---
interface Props {
     title: string;
     desc: string;
     image: string;
     tags: string[];
     slug: string;
}
const { title, desc, image, tags, slug } = Astro.props;
const url = `/projects/${slug}`;
---
<div class="max-w-sm rounded-md overflow-hidden shadow-lg">
          <div class="relative w-full">
               <img class="object-cover overflow-hidden w-full h-40" 
                    src={image}
                    alt="gambar">
          </div>
          <div class="p-3 items-start">
               <a href={url} class="text-xl text-start font-medium">{title}</a>
               <p class="line-clamp-2 font-light text-start text-grey-500">{desc}</p>
               <ul class="flex flex-row mt-2 gap-1 items-center">
                    {tags?.map((el: any) => (
                         <li class="bg-blue-100 p-1 font-light text-sm text-blue-500">{el}</li>
                    ))}
               </ul>
          </div>
</div>