---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

export async function getStaticPaths() {
     const projects = await getCollection('projects');
     return projects.map((project) => ({
          params: {slug: project.slug},
          props: {project}
     }))
}

const { project } = Astro.props;
---
<Layout title="projects" >
     <section class="container">
          <img src={project.data.image} alt="gambar"/>
          <h1>{project.data.title}</h1>
          <p>{project.data.date}</p>
          <p>{project.data.desc}</p>
     </section>
</Layout>