---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

export async function getStaticPaths() {
     const projects = await getCollection('projects');
     const posts = import.meta.glob('../../content/projects/*.md', { eager: true });
     return projects.map((project) => ({
          params: {slug: project.slug},
          props: {project}
     }))
}

const { project } = Astro.props;
const { Content } = await project.render();
---
<Layout title="projects">
     <main>
          <article class="max-w-4xl mx-auto">
      
            <header class="mb-8">
              <img 
                src={project.data.image} 
                alt={`Cover image for ${project.data.title}`}
                class="w-full h-auto max-h-96 object-cover rounded-lg shadow-lg" />
            </header>
      
      
            <div class="bg-white bg-white-800 p-8 rounded-lg shadow-md">
              <h1 class="text-4xl md:text-5xl font-bold text-gray-900 dark:text-grey mb-2">
                  {project.data.title}
              </h1>
              <p class="text-base text-gray-500 dark:text-gray-400 mb-6">
                  Published on: {new Date(project.data.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
              </p>
      
              <div class="flex flex-wrap items-center gap-3 mb-8">
                  <span class="font-semibold text-gray-700 dark:text-gray-300">Tags:</span>
                  {project.data.tags.map((tag: unknown) => (
                      <a href="#" class="inline-block bg-blue-100 text-blue-800 text-sm font-medium px-3 py-1 rounded-full hover:bg-blue-200 transition-colors duration-300 dark:bg-blue-900 dark:text-blue-300">
                          #{tag}
                      </a>
                  ))}
              </div>
      
              <div class="prose prose-lg max-w-none dark:prose-invent">
                <Content />
              </div>
            </div>
          </article>
     </main>
</Layout>