---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

export async function getStaticPaths() {
     const projects = await getCollection('projects');
     const posts = import.meta.glob('../../content/projects/*.md', { eager: true });
     return projects.map((project) => ({
          params: {slug: project.slug},
          props: {project}
     }))
}

const { project } = Astro.props;
---
<Layout title="projects" >
     <section class="container">
          <img src={project.data.image} 
               width="1200"
               height="600" 
               alt="gambar"/>
          <h2 class="h2 font-semibold">{project.data.title}</h2>
          <p>{project.data.date}</p>
          <p>{project.data.desc}</p>
          <section class="flex flex-col">
               <section class="main">
                    <slot />
               </section>
               <section class="side">

               </section>
          </section>
     </section>
</Layout>