---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = Object.values(import.meta.glob("../../content/projects/*.md", {eager: true}));
---
<Layout title="Projects">
     <section class="project-list">
          <h1 class="text-3xl font-bold mb-8">Projects</h1>
          <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
               {projects.map((project: any) => (
                    <ProjectCard
                         title={project.frontmatter.title}
                         desc={project.frontmatter.desc}
                         image={project.frontmatter.image}
                         tags={project.frontmatter.tags}
                         slug={project.frontmatter.slug}/>
               ))} 
          </div>
     </section>
</Layout>